# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore user defined files and folders
/Bin/*
/Build/*
/_IDE/Build
/_IDE/CodeBlocks/YAIP.depend
/_IDE/CodeBlocks/YAIP.layout
/_IDE/CodeBlocks/bin
/_IDE/CodeBlocks/obj
/_IDE/VS2010/YAIP.opensdf
/_IDE/VS2010/YAIP.sdf
/_IDE/VS2010/YAIP.suo
/_IDE/VS2010/YAIP.vcxproj.user
/_IDE/VS2013/YAIP.opensdf
/_IDE/VS2013/YAIP.sdf
/_IDE/VS2013/YAIP.v12.suo
/_IDE/VS2013/YAIP.vcxproj.user
/_IDE/VS2015/.vs
/_IDE/VS2015/YAIP.VC.VC.opendb
/_IDE/VS2015/YAIP.VC.db
/_IDE/VS2015/YAIP.vcxproj.user
/_IDE/VS2017/.vs
/_IDE/VS2017/YAIP.vcxproj.user
/Bin
/Build
/doxygen/YAIP++.log
/doxygen/html
/src/ALL_BUILD.vcxproj
/src/ALL_BUILD.vcxproj.filters
/src/CMakeCache.txt
/src/CMakeFiles
/src/YAIP++.sln
/src/YAIP++.vcxproj
/src/YAIP++.vcxproj.filters
/src/YAIP.cppcheck
/src/ZERO_CHECK.vcxproj
/src/ZERO_CHECK.vcxproj.filters
/src/cmake_install.cmake
/src/yaip.ini
