# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore user defined files and folders
*.ini
/Bin
/Build
/doxygen/YAIP.log
/doxygen/html
/src/.vs
/src/YAIP/YAIP.vcxproj.user
/src/YAIP/YAIP/YAIP-cppcheck-build-dir
/src/YAIP/YAIP/YAIP.smproj
/src/YAIP/YAIP/YAIP.cppcheck
